// Primary Colors
$MVP-Black: #000000;
$MVP-Light-Blue: #0099ff;
$MVP-White: #ffffff;
$MVP-Yellow: #ffd22f;


// Secondary Colors
$MVP-Dark-Blue: #0954b0;
$MVP-Red: #ff7070;
$MVP-Cream: #fff9f4;
$MVP-Green: #1EB268;

// Tertiary colors

$MVP-Gray: #525354;
$MVP-Light-Gray: #D9D9D9;
$MVP-Dark-Gray: #1e1e1e;
$MVP-Not-Active-Blue: #98c4fa;
$MVP-Extra-Light-Blue: #c8e7fb;



