@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.event-card {
  &__container {
    @include Flex-column;
    width: 20.3125rem;
    height: 34.5625rem;
  }

  &__image {
    height: 18.4375rem;
    border: 3px solid $MVP-black;
    border-radius: 24.2px;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  &__wrapper {
    position: relative;
    padding: 1.0625rem 0.8125rem;
    height: 100%;
  }

  &__top-tags {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    top: 0.75rem;
    right: 0.625rem;
  }

  &__tag {
    @include Flex-center;
    background: $MVP-White;
    color: $MVP-black;
    padding: 0.25rem 0.5rem;
    font-family: "Gilroy";
    height: 1.6169rem;
    border-radius: 83.44px;
    border: 1.25px solid $MVP-black;
  }

  &__bottom-tags {
    position: absolute;
    bottom: 1.0625rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 92%;
  }

  &__favorite {
    @include Flex-center;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    border: 1.25px solid $MVP-black;
    background-color: $MVP-White;
  }

  &__details-container {
    @include Flex-column;
    justify-content: space-between;
    padding-top: 1.125rem;
    gap: 1rem;
    flex: 1;
    font-family: "Poppins";
  }

  &__details {
    @include Flex-column;
    gap: 1rem;
  }

  &__title {
    font-size: 1.5625rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__date {
    font-size: 1.125rem;
    font-weight: 600;
  }

  &__theme-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 1;
  }

  &__button {
    @include Buttons;
    @include Flex-center;
    background-color: $MVP-Light-Blue;
    width: 12.625rem;
    height: 3.9375rem;
    border: 3px solid $MVP-black;
    border-radius: 0.625rem;
    font-size: 1.6875rem;
    border-width: 3px 5px 5px 3px;
    cursor: pointer;
  }
}
